## Data Cleaning

In [1]:
pip install chardet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: chardet in /sfs/applications/202307/software/standard/compiler/gcc/9.2.0/jupyter_conda/2020.11-py3.8/lib/python3.8/site-packages (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import chardet

In [6]:
import pandas as pd

In [32]:
df=pd.read_csv('./nhgis_county_data/nhgis0002_ds176_20105_county_E.csv', encoding='latin1')
zdf=pd.read_csv('./nhgis_county_data/nhgis0002_ds191_20125_county_E.csv', encoding='latin1')

/apps/software/standard/compiler/gcc/9.2.0/jupyter_conda/2020.11-py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3,4,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [16]:
df.iloc('State Name')

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,...,JSDE003,JSDE004,JSDE005,JSDE006,JSDE007,JSDE008,JSDE009,JSDE010,JS5E001,JTIE001
0,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,County Subdivision Code,...,Built 2000 to 2004,Built 1990 to 1999,Built 1980 to 1989,Built 1970 to 1979,Built 1960 to 1969,Built 1950 to 1959,Built 1940 to 1949,Built 1939 or earlier,Median gross rent,Median value (dollars)
1,G0100010,2006-2010,AL,NaN,NaN,Alabama,01,Autauga County,001,NaN,...,2946,5142,3582,3542,2626,931,235,641,769,133900
2,G0100030,2006-2010,AL,NaN,NaN,Alabama,01,Baldwin County,003,NaN,...,22743,28796,16210,11233,5768,3516,1678,2541,821,177200
3,G0100050,2006-2010,AL,NaN,NaN,Alabama,01,Barbour County,005,NaN,...,493,2669,2412,2095,1496,966,573,1055,512,88200
4,G0100070,2006-2010,AL,NaN,NaN,Alabama,01,Bibb County,007,NaN,...,381,2202,1452,1591,1226,673,263,890,541,81200

In [17]:
cdf=pd.read_csv('./nhgis_county_data/nhgis0002_ts_nominal_county.csv', encoding='latin1')

/apps/software/standard/compiler/gcc/9.2.0/jupyter_conda/2020.11-py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
cdf.head()

,GISJOIN,STATE,STATEFP,STATENH,COUNTY,COUNTYFP,COUNTYNH,AV0AA1970,AV0AA1980,AV0AA1990,...,BV8AA195,BV8AA195M,BV8AB1970,BV8AB1980,BV8AB1990,BV8AB2000,BV8AB125,BV8AB125M,BV8AB195,BV8AB195M
0,GIS Join Match Code,NHGIS Integrated State Name,FIPS State Code,NHGIS Integrated State Code,NHGIS Integrated County Name,FIPS County Code,NHGIS Integrated County Code,1970: Persons: Total,1980: Persons: Total,1990: Persons: Total,...,2015-2019: Persons: Poverty status is determin...,Margin of error: 2015-2019: Persons: Poverty s...,1970: Persons: Poverty status is determined ~ ...,1980: Persons: Poverty status is determined ~ ...,1990: Persons: Poverty status is determined ~ ...,2000: Persons: Poverty status is determined ~ ...,2008-2012: Persons: Poverty status is determin...,Margin of error: 2008-2012: Persons: Poverty s...,2015-2019: Persons: Poverty status is determin...,Margin of error: 2015-2019: Persons: Poverty s...
1,G0100010,Alabama,01,010,Autauga County,001,0010,24460,32259,34222,...,712,183,848,1813,2433,3734,6085,165,7441,226
2,G0100030,Alabama,01,010,Baldwin County,003,0030,59382,78556,98280,...,3090,472,4149,7394,12396,19142,28904,337,38705,533
3,G0100050,Alabama,01,010,Barbour County,005,0050,22543,24756,25417,...,758,135,1021,1795,2316,2757,3152,136,3765,168
4,G0100070,Alabama,01,010,Bibb County,007,0070,13812,15723,16576,...,236,110,767,1426,1405,1868,2488,144,3189,152

In [19]:
adf=pd.read_csv('./nhgis_county_data/nhgis0002_ds177_20105_county_E.csv', encoding='latin1')

/apps/software/standard/compiler/gcc/9.2.0/jupyter_conda/2020.11-py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3,4,6,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [20]:
adf.head()

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,...,J6QE164,J6QE165,J6QE166,J6QE167,J6QE168,J6QE169,J6QE170,J6QE171,J6QE172,J6QE173
0,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,County Subdivision Code,...,Female: 70 to 74 years,Female: 70 to 74 years: In labor force,Female: 70 to 74 years: In labor force: Employed,Female: 70 to 74 years: In labor force: Unempl...,Female: 70 to 74 years: Not in labor force,Female: 75 years and over,Female: 75 years and over: In labor force,Female: 75 years and over: In labor force: Emp...,Female: 75 years and over: In labor force: Une...,Female: 75 years and over: Not in labor force
1,G0100010,2006-2010,AL,NaN,NaN,Alabama,01,Autauga County,001,NaN,...,883,57,57,0,826,1447,15,15,0,1432
2,G0100030,2006-2010,AL,NaN,NaN,Alabama,01,Baldwin County,003,NaN,...,4020,457,441,16,3563,7007,184,184,0,6823
3,G0100050,2006-2010,AL,NaN,NaN,Alabama,01,Barbour County,005,NaN,...,501,57,57,0,444,1092,13,0,13,1079
4,G0100070,2006-2010,AL,NaN,NaN,Alabama,01,Bibb County,007,NaN,...,365,59,59,0,306,757,9,9,0,748

In [24]:
selected_rows = df[df['STATE'] == 'Virginia']
print(selected_rows)

vdf = pd.DataFrame(selected_rows)

       GISJOIN       YEAR STUSAB REGIONA DIVISIONA     STATE STATEA  \
2821  G5100010  2006-2010     VA     NaN       NaN  Virginia     51
2822  G5100030  2006-2010     VA     NaN       NaN  Virginia     51
2823  G5100050  2006-2010     VA     NaN       NaN  Virginia     51
2824  G5100070  2006-2010     VA     NaN       NaN  Virginia     51
2825  G5100090  2006-2010     VA     NaN       NaN  Virginia     51
...        ...        ...    ...     ...       ...       ...    ...
2950  G5108000  2006-2010     VA     NaN       NaN  Virginia     51
2951  G5108100  2006-2010     VA     NaN       NaN  Virginia     51
2952  G5108200  2006-2010     VA     NaN       NaN  Virginia     51
2953  G5108300  2006-2010     VA     NaN       NaN  Virginia     51
2954  G5108400  2006-2010     VA     NaN       NaN  Virginia     51

                   COUNTY COUNTYA COUSUBA  ... JSDE003 JSDE004 JSDE005  \
2821      Accomack County       1     NaN  ...     991    3212    3026
2822     Albemarle County       3     NaN  ...    5830   10158    7375
2823     Alleghany County       5     NaN  ...     196     944     736
2824        Amelia County       7     NaN  ...     739    1173     839
2825       Amherst County       9     NaN  ...     704    2476    2409
...                   ...     ...     ...  ...     ...     ...     ...
2950         Suffolk City     800     NaN  ...    5880    6800    3745
2951  Virginia Beach City     810     NaN  ...   11832   22828   50895
2952      Waynesboro City     820     NaN  ...     462    1132    1155
2953    Williamsburg City     830     NaN  ...     701     628     766
2954      Winchester City     840     NaN  ...     839    1550     997

     JSDE006 JSDE007 JSDE008 JSDE009 JSDE010 JS5E001 JTIE001
2821    3261    2148    2025     899    4965     709  149800
2822    6827    3092    2070     816    3053    1031  349800
2823    1478    1182     844     687    1849     504  104000
2824    1010     483     317     301     322     672  189800
2825    2847    1599    1460     592    1454     582  142200
...      ...     ...     ...     ...     ...     ...     ...
2950    3935    3046    2876    1156    2499     855  252200
2951   43502   24662   11998    2681    2055    1143  277400
2952    1042    1443    1672     889    1659     662  169700
2953     619     812     323     300     517     988  344800
2954    1585    1391    1542     938    2558     860  267000

[134 rows x 272 columns]

In [31]:
vdf.head()

for col in vdf:
    print(col)

GISJOIN
YEAR
STUSAB
REGIONA
DIVISIONA
STATE
STATEA
COUNTY
COUNTYA
COUSUBA
PLACEA
TRACTA
BLKGRPA
CONCITA
AIANHHA
RES_ONLYA
TRUSTA
AIHHTLI
AITSCEA
ANRCA
CBSAA
CSAA
METDIVA
NECTAA
CNECTAA
NECTADIVA
UAA
CDCURRA
SLDUA
SLDLA
SUBMCDA
SDELMA
SDSECA
SDUNIA
PCI
PUMAA
GEOID
NAME
BTTRA
BTBGA
JLZE001
JLZE002
JLZE003
JLZE004
JLZE005
JLZE006
JLZE007
JLZE008
JLZE009
JLZE010
JLZE011
JLZE012
JLZE013
JLZE014
JLZE015
JLZE016
JLZE017
JLZE018
JLZE019
JLZE020
JLZE021
JLZE022
JLZE023
JLZE024
JLZE025
JLZE026
JLZE027
JLZE028
JLZE029
JLZE030
JLZE031
JLZE032
JLZE033
JLZE034
JLZE035
JLZE036
JLZE037
JLZE038
JLZE039
JLZE040
JLZE041
JLZE042
JLZE043
JLZE044
JLZE045
JLZE046
JLZE047
JLZE048
JLZE049
JL0E001
JL0E002
JL0E003
JMAE001
JMBE001
JMBE002
JMBE003
JMBE004
JMBE005
JMBE006
JMBE007
JMBE008
JMBE009
JMBE010
JMJE001
JMJE002
JMJE003
JMJE004
JMJE005
JMJE006
JMJE007
JMJE008
JMJE009
JMJE010
JMJE011
JMJE012
JMJE013
JMJE014
JMJE015
JMJE016
JMJE017
JMJE018
JMJE019
JMJE020
JMJE021
JN9E001
JN9E002
JN9E003
JN9E004
JN9E005
JN9E006
JN9E007
JN9E008
JN9E009
JN9E010
JN9E011
JN9E012
JN9E013
JN9E014
JN9E015
JN9E016
JN9E017
JN9E018
JN9E019
JN9E020
JN9E021
JN9E022
JN9E023
JN9E024
JN9E025
JN9E026
JN9E027
JN9E028
JN9E029
JN9E030
JN9E031
JN9E032
JN9E033
JN9E034
JN9E035
JOCE001
JOCE002
JOCE003
JOCE004
JOCE005
JOCE006
JOCE007
JOCE008
JOHE001
JOHE002
JOHE003
JOHE004
JOHE005
JOHE006
JOHE007
JOHE008
JOHE009
JOHE010
JOHE011
JOHE012
JOHE013
JOHE014
JOHE015
JOHE016
JOHE017
JOIE001
JQBE001
JQLE001
JRGE001
JRGE002
JRGE003
JRGE004
JRGE005
JRGE006
JRGE007
JRGE008
JRGE009
JRGE010
JRGE011
JRGE012
JRGE013
JRGE014
JRGE015
JRGE016
JRGE017
JRGE018
JRGE019
JRGE020
JRGE021
JRGE022
JRGE023
JRGE024
JRGE025
JRGE026
JRGE027
JRGE028
JRGE029
JRGE030
JRGE031
JRGE032
JRGE033
JRGE034
JRGE035
JRGE036
JRGE037
JRGE038
JRGE039
JRGE040
JRGE041
JRGE042
JRGE043
JRGE044
JRGE045
JRGE046
JRGE047
JRGE048
JRGE049
JRGE050
JRGE051
JRGE052
JRGE053
JRGE054
JRGE055
JRIE001
JRJE001
JRJE002
JRJE003
JRKE001
JRKE002
JRKE003
JSAE001
JSAE002
JSAE003
JSAE004
JSAE005
JSAE006
JSAE007
JSAE008
JSAE009
JSAE010
JSAE011
JSDE001
JSDE002
JSDE003
JSDE004
JSDE005
JSDE006
JSDE007
JSDE008
JSDE009
JSDE010
JS5E001
JTIE001

In [33]:
zdf.head()

,GISJOIN,YEAR,STUSAB,REGIONA,DIVISIONA,STATE,STATEA,COUNTY,COUNTYA,COUSUBA,...,QXSE007,QX6E001,QX7E001,QX7E002,QX7E003,QX8E001,QX8E002,QX8E003,QZTE001,QZ6E001
0,GIS Join Match Code,Data File Year,State Postal Abbreviation,Region Code,Division Code,State Name,State Code,County Name,County Code,County Subdivision Code,...,Not in labor force,Total,Total,Occupied,Vacant,Total,Owner occupied,Renter occupied,Median gross rent,Median value (dollars)
1,G0100010,2008-2012,AL,NaN,NaN,Alabama,01,Autauga County,001,NaN,...,14693,22077,22077,19934,2143,19934,15488,4446,836,137900
2,G0100030,2008-2012,AL,NaN,NaN,Alabama,01,Baldwin County,003,NaN,...,57160,103984,103984,72751,31233,72751,53889,18862,874,172900
3,G0100050,2008-2012,AL,NaN,NaN,Alabama,01,Barbour County,005,NaN,...,11539,11878,11878,9423,2455,9423,6285,3138,577,88700
4,G0100070,2008-2012,AL,NaN,NaN,Alabama,01,Bibb County,007,NaN,...,8516,8958,8958,7386,1572,7386,5979,1407,581,91600

In [40]:
voting_df = pd.read_csv('./data/voting_VA.csv')
voting_df.head(10)

,Unnamed: 0,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,11161,2000,VIRGINIA,VA,ACCOMACK,51001,US PRESIDENT,AL GORE,DEMOCRAT,5092,11925,20220315,TOTAL
1,11162,2000,VIRGINIA,VA,ACCOMACK,51001,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,6352,11925,20220315,TOTAL
2,11163,2000,VIRGINIA,VA,ACCOMACK,51001,US PRESIDENT,RALPH NADER,GREEN,220,11925,20220315,TOTAL
3,11164,2000,VIRGINIA,VA,ACCOMACK,51001,US PRESIDENT,OTHER,OTHER,261,11925,20220315,TOTAL
4,11165,2000,VIRGINIA,VA,ALBEMARLE,51003,US PRESIDENT,AL GORE,DEMOCRAT,16255,36846,20220315,TOTAL
5,11166,2000,VIRGINIA,VA,ALBEMARLE,51003,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,18291,36846,20220315,TOTAL
6,11167,2000,VIRGINIA,VA,ALBEMARLE,51003,US PRESIDENT,RALPH NADER,GREEN,2043,36846,20220315,TOTAL
7,11168,2000,VIRGINIA,VA,ALBEMARLE,51003,US PRESIDENT,OTHER,OTHER,257,36846,20220315,TOTAL
8,11169,2000,VIRGINIA,VA,ALLEGHANY,51005,US PRESIDENT,AL GORE,DEMOCRAT,2214,5123,20220315,TOTAL
9,11170,2000,VIRGINIA,VA,ALLEGHANY,51005,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,2808,5123,20220315,TOTAL

In [43]:
columns_to_drop = ['state', 'state_po', 'county_fips', 'office', 'candidate', 'version', 'mode']
voting_df = voting_df.drop(columns_to_drop, axis=1)

In [45]:
voting_df.head()

   Unnamed: 0  year county_name       party  candidatevotes  totalvotes
0       11161  2000    ACCOMACK    DEMOCRAT            5092       11925
1       11162  2000    ACCOMACK  REPUBLICAN            6352       11925
2       11163  2000    ACCOMACK       GREEN             220       11925
3       11164  2000    ACCOMACK       OTHER             261       11925
4       11165  2000   ALBEMARLE    DEMOCRAT           16255       36846